<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sinau.id</title>
  <link rel="stylesheet" href="firstPage.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
  <div class="context">
    <h1>Sinau.id</h1>
    <h4>Platform kursus online untuk sobat SD, SMP dan SMA</h4>
  </div>
  <div class="firstButton">
    <a href="/userLogin" type="button" class="btn btn-primary">Admin</a>
    <a></a>
    <a href="/studentLogin" type="button" class="btn btn-secondary">Student</a>
  </div>
  <div class="area" >
          <ul class="circles">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
          </ul>
  </div >
  <footer>
    <p>
      Copyright <i class="fa fa-heart"></i>
      <a target="_blank" href="https://www.instagram.com/dodsstwn/">Dodsstwn and Adivigo</a>
    </p>
  </footer>
</body>
</html>